.admin-page{
    height: 95vh;
    width: 60%;
    margin-left: 20%;
}
.admin-window{
    height: 95vh;
    overflow-y: scroll;
}
.people-listing{
    padding-top: 10vh;
    display: flex;
    align-items: end;
    justify-content: end;
}
.newUser{
    background-color: green;
}
.formpopup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxListing{
    height: 200px;
    width: 100%;
    border: 1px solid green;
    border-radius: 10px;
    margin-top: 2vh;
    display: grid;
    grid-template-areas: "photo info remove";
    grid-template-columns: 25% 55% 20%;
}
.imageBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageBox img{
    border-radius: 60%;
}
.userInfo{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.removeUser{
    display: flex;
    justify-content: center;
    align-items: center;
}