.box{
    margin-left: 11%;
    display: grid;
    height: 85vh;
    width: 80%;
    border: 1.4px solid rgba(180, 180, 180, 0.658);
    background-color: white;
    grid-template-areas: "name chats";
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
  }
  .name{
    display: grid;
    grid-area: name;
    height: 85vh;
    grid-template-areas: "search" 
                         "people";
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
  }
  .chats{
    grid-area: chats;
    display: grid;
    height: 100%;
    border-left: 1.5px solid rgba(180, 180, 180, 0.658);
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: cover;  
    background-size:contain;
    grid-template-areas: "chat"
                         "textBox" ;
    grid-template-columns: 100%;
    grid-template-rows: 93% 7%;
  }
  .textBox{
    display: grid;
    grid-area: textBox;
    background-color: white;
    grid-template-areas: "textarea send";
    grid-template-columns: 95% 5%;
  }
  .textarea{
    grid-area: textarea;
  }
  #exampleFormControlTextarea1{
    resize: none;
    border-radius: 0px;
    height: 100%;
  }
  #exampleFormControlTextarea1:focus{
    outline: none !important;
    border-color: #000000;
    box-shadow: 0 0 10px #000000;
  }
  .send{
    grid-area: send;
  }
  .button{
    border: none;
    background-color: white; 
    width: 100%;
    padding-top: 10%; 
    padding-bottom: 19%; 
    height: auto;
  }
  .bi-cursor-fill{
    height: 80%;
  }
  .navbar{
    width: 100%;
    border-bottom: 1.5px solid rgba(194, 193, 193, 0.779);
    grid-area: search;
  }
  .form{
    display: flex;
    width: 100%;
    padding-top: 3%;
  }
  #searchbar{
    width: 85%;
    border-radius: 10px;
    border: 1px solid grey;
    height: 40%;
    margin-left:3%;
  }
  #searchbar:focus{
    outline: none !important; 
    border: 2px solid #2196F3;
  }
  .form button{
    width: 15%;
    background-color: white;
    border: none;
  }
  .people{
    grid-area: people;
    width: 100%;
    height: 99.7%;
    overflow-y: scroll; 
  }
  .chat{
    grid-area: chat;
    width: 100%;
    padding-right: 2%;
    overflow-y: scroll;
  }
  .invisibleOwnMessages{
    margin-left: 50%;
  }
  .invisibleOtherMessages{
    margin-right: 50%;
  }
  .ownMessages{
    width: 100%;
    color: white;
    margin-right: 6%;
    padding:2% 5%;
    background-color:#2196F3;
    border-radius: 15px;
    margin-top: 5%;
    word-wrap: break-word
  }
  .othersMessages{
    color: white;
    margin-right: 6%;
    padding:2% 5%;
    background-color:#2196F3;
    border-radius: 15px;
    word-wrap: break-word
  }
  .ownMessagesDiv{
    grid-area: own;
  }
  .otherMessagesDiv{
    margin-left: 6%;
    grid-template-columns: other;
  }
  /* width */         
  ::-webkit-scrollbar { 
    display: none;
    width: 10px; 
  } 
  
  /* Track */ 
  ::-webkit-scrollbar-track { 
    background: #f1f1f1; 
  } 
  
  /* Handle */ 
  ::-webkit-scrollbar-thumb { 
    background: #888; 
  } 
  
  /* Handle on hover */ 
  ::-webkit-scrollbar-thumb:hover { 
    background: #555; 
  } 
  
  .peopleTagBox{
    display: inline;
  }
  .peopleTagBoxButton{
    width: 100%;
    text-align: left;
    padding-left: 20%;
    padding-top: 1%;
    border: none;
    background-color: white;
    border-bottom: 1px solid gainsboro;
  }
  .peopleTagBoxLastMesage{
    width: 20vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }