.home-page{
    height: 95vh;
}
.upper{
    height: 95vh;
}
.chating-page{
    width: 100%;
    display: flex;
}
.chat-names{
    width: 20%;
    background-color: #3F3F3F;
    height: 95vh;
    overflow-y: scroll;
    border-bottom:1px solid white ;
}
.friendsBox{
    color: white;
    height: 5rem;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 22% 78%;
    grid-area: "picture text";
}
.username{
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -0rem;
}
.lastMessage{
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text{
    margin-left: 0.5rem;
}
.searchBar{
    height: 6vh;   
    border-bottom:1px solid white ; 
    display: grid;
    grid-template-columns: 90% 20%;
}
.picture{
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.chat-page{
    width: 80%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/background.webp');
}
.waiting{
    width: 80%;
    height: 95vh;
    background-image: url('../../assets/background.webp');
}
.firendName{
    padding-left: 3vh;
    padding-top: 1vh;
    font-weight: bold;
    height: 6vh;
    width: 100%;
    background-color:#3F3F3F;
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: 4% 96%;
    color: white;
}
.usernameDiv{
    display: flex;
    justify-content: left;
    align-items: center;
}
.imageChatDiv{
    height: 4.5vh;
    width: 4.5vh;
    margin: 0;
}
.imageChat{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.attchments{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagexBoxMessagesReciver{
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
}
.imageBoxMessages{
    display: flex;
    flex-direction: column;
    background-color: green;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
}
.imageMessage{
    color: white;
    height: 50vh;
    object-fit:cover;
}
.messages{
    height: 83vh;
    display: flexbox;
    overflow-y: scroll;
    flex-direction: column-reverse;
}
.message-area{
    height: 6vh;
    background-color: white;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
.buttonAttachment{
    border:  none;
    background-color: white;
}
.backgroundSendImage{
    height: 20%;
    width: 90%;
    margin-left: 5%;
    background-color: rgba(211, 211, 211, 0.516);
    display: flex;
}
.imageSend{
    height: 100%;
    width: auto;
}
.online{
    border: 2px solid green;
}
.loadingScreen{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingScreenMessages{
    height: 95vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messagesText{
    color: white
}
.messageContentReciver{
    width: 50%;
}
.messagesTextReciver{
    color: white;
    background-color: blue;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    width: 100%;
    line-break: anywhere;
}
.messageContentSender{
    margin-left: 50%;
    width: 50%;
}
.imageMessageimg{
    height: fit-content;
    width: fit-content;
}
.messagesTextSender{
    color: white;
    background-color: green;
    height: auto;
    width: 96%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    line-break: anywhere;
}
.timeSender{
    font-size: 12px;
    margin-left: 92%;
    color: white;
}
.downloadButton{
    background-color: green;
    border: none;
    color: white;
}
.downloadButtonReciver{
    background-color: blue;
    border: none;
    color: white;
}
::-webkit-scrollbar{
    display: none;      
}